# appnet.js

A library for interacting with app.net written in JavaScript. Exported
as a jQuery module.

# Example

<pre>
$.appnet().authorize("MY_USER_TOKEN");
var promise = $.appnet().post.getGlobal({ include_annotations: 1 });
promise.then(function (response) {
  console.dir(response);
  return $.appnet().post.getThread('1000', { count: 10 });
}).then(function (response) {
  console.dir(response);
}, function (response) {
  console.log('Error!');
});
</pre>

# Reference

<table>
  <thead>
    <tr>
      <th width="200">Method</th>
      <th width="240">Parameters</th>
      <th width="350">Description</th>
      <th width="60">Token</th>
    </tr>
  </thead>
  <tbody>
    {{#each endpoints}}
    <tr>
      <td>{{group}}.{{name}}</td>
      <td>(
        {{#each url_params}}
          {{this}},
        {{/each}}
        {{#each data_params}}
          {{this}},
        {{/each}}
        {{#each array_params}}
          {{this}},
        {{/each}} args )</td>
      <td><a href="{{link}}">{{description}}</a></td>
      <td>{{token}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
